*{
    margin: 0%;
    padding: 0%;
}
#container{
      height: 600px;
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('labriray.jpg');
    }
    .text{
      position:absolute ;
      text-align: center;
      position: absolute;
      top: 50px;
      font-weight: bold;
      left: 560px;
      font-family: 'Courier New', Courier, monospace;
      z-index: 5;
    }
    .text p{
      position:absolute ;
      color: white;
      font-size: 80px;
      z-index: 2;
      top: 100px;
    }
    .inp input{
     text-align: center;
     background-color: rgb(230,230,230);
     position: absolute;
     overflow: hidden;
     outline: none;
     border : none ;
     width:400px;
     height: 30px;
     top: 450px;
     left:490px;
    }
    .btn button{
      position:absolute ;
      top: 500px;
      left:600px;
      background-color: #6001FF;
      color:white;
      width:150px;
      height: 30px;
      border: none;
      outline:none;
     }
    /* css styling of libray first page*/
    #content p {
      color: #6001FF;
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      /* background-color: yellow; */
      vertical-align: middle;
      position: relative;
      padding: 18px;
  }

  #content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100vh - 200px);
  }

  #content p::before {
      position: absolute;
      content: '';
      border-top: 2px solid #6001FF;
      border-left: 2px solid #6001FF;
      height: 16px;
      width: 16px;
      top: 0px;
      left: 0px;
      border-width:6px;
  }
  #content p::after {
      position: absolute;
      content: '';
      border-bottom: 2px solid #6001FF;
      border-right: 2px solid #6001FF;
      height: 16px;
      width: 16px;
      bottom: 0px;
      right: 0px;
      border-width:6px;
  }

  #title {
      padding: 30px 50px 0px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 22px;
      color: white;
      display: inline-block;

  }  

  /*footer*/
  #footer{ 
     position: fixed;
     left: 550px;
      height: 50px;
      width: 100%;
      line-height: 50px;
      color:rgb(130, 130, 130) ;
      /* height: calc(100vh - 20px); */
      position: absolute;
      bottom: 0;
      display: block;
      font-family:  Helvetica, sans-serif;
      font-size: 12px;
  }
  #footer p{
      text-align: center;

  }
  /*header css */
  * {
    margin: 0;
    padding: 0;
}

#navBarre {
    height: 100px;
    background-color: #6001FF;
}

#list {

    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    }


#list ul {
    margin:0px;
    margin-top: 40px ;
}

#list ul li {
    margin: 0px;
    padding: 0px 32px;
    padding-bottom: 10px;
    display: inline;
    font-size: 15px;
    list-style-type: none;  
}

#list ul li a {
    color: #f2f5f7;
    text-decoration: none;
    transition: color 0.5s;
    
}

#list ul li a:hover {
    text-decoration: underline;
    outline: none;
    color: white;

}


#title {
    padding: 30px 50px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: white;
    display: inline-block;
  
}
#title ul li   {
    text-decoration: none;
    color: white;
    text-decoration: none;
    transition: color 0.5;
    list-style: none;
}
#title ul li a  {
    color: white;
    text-decoration: none;
    
}
#title ul li a:hover {
    text-decoration: underline;
    outline: none;
    color: white;}

    /*btn of the index search */
    
     /*btn of the create file */
    #btn1 {
     position:absolute ;
     top: 500px;
     left:80px;
     margin-top: 8px;
     background-color: #6001FF;
     color:white;
     font-weight: bold;
     width:150px;
     height: 30px;
     border: none;
     outline:none;
    }
  /*books styling*/
   .cont{
     font-weight: bold;
     margin-top: 100px;
     margin-left: 5%;
     color: #6001FF;
  }
   .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .conta {
    padding: 2px 16px;
  }
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin-left: 100px;
    margin-top: 60px;
    height: 450px;
    border-radius: 10px;
  }
  .card p {
    font-weight: bold;
    margin-top: 20px;
    margin-right: 200px;
    color: #6001FF;
  }
  .column span{
    position: absolute;
    top: 20Px;
    margin-left: 270px;
    color: #6001FF;
  }
  * {
    box-sizing: border-box;
  }
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin-left: 220px;
    height: 200px;
    width: 150px;
    border:  black;
  }
  body{
    background-color: #F2F2F2;
}
/*create inputs styling */
.titleg p{
    font-weight: bold;
    margin-top: 100px;
    margin-left: 5%;
    color: #6001FF;
}
.form{
  position: absolute;
    left: 500px;
    
    display: block;
}
.form input{
    padding: 8px 50px;
    background-color: rgb(230,230,230);
    position: relative;
    overflow: hidden;
    outline: none;
    border : none ;
    width:300px;

}
.form button{
   position: absolute ;
   padding: 8px 50px;
   background-color: #6001FF;
   color: white;
   top: 360px;
   right: 42%;
} 
.form input[type="file"]{
    padding-left:10px;
    height:25px;
    width:300px;
}
.btn{
    margin-left:75px;
}
.form span{
    font-weight: bold;
    color: black;
}
/* read styling by simo */
 

        table,
        tr,
        th,
        td {
            border: 1px solid lightgrey;
            border-collapse: collapse;

        }

        th {
            height: 30px;
        }

        td {
            height: 30px;
            text-align: center;

        }

        table {
            width: 90%;

        }

        thead {
            background-color: lightgrey;
        }

        #tableDiv {
            width: 100%;

            height: 600px;

        }

        #hautDePage {
            margin: auto;
            width: 80%;
            display: flex;


        }

        .buttonAdd {
            display: flex;
            vertical-align: middle;
            width: 50%;
            width: 40%;
            align-items: center;
            justify-content: flex-end;
        }

        #heading {
            display: flex;
            width: 50%;
        }

        #buttonAdd {
            width: 100px;
            height: 30px;
            background-color: #6001FF;
            color: white;
            border: none;
        }